
<section>
    <div class="container">
        <div class="row my-5 py-5 featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="text-center">Uriel Camargo</h2>
            <div class="form-group">
              <p class="text-center">Ingeniero en computación, Ironhacker </p>
            </div>
            <ul class="col-sm-12 text-left">
              <li>Me gusta la música de todo tipo (más la músic aelectrónica)</li>
              <li>Me gusta el anime</li>
              <li>Amante de la pizza y los tacos y la cerveza</li>
            </ul>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" alt="500x500" src="images/uriel.JPG" data-holder-rendered="true" style="width: 500px; height: auto;">
          </div>
        </div>

        <div class="row my-5 py-5 featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="text-center">Montserrat Monroy</h2>
            <div class="form-group">
              <p class="text-center">Estudiante de ironhack, con algo de altas y bajas, pero con las ganas por delante <i class="far fa-laugh-squint fa-2x"></i></p>
            </div>
            <ul class="col-sm-12 text-left">
              <li>Apasionada de la cultura oriental.</li>
              <li>Me gusta el manga y el anime.</li>
              <li>Mis generos favoritos:  Gore, Mecha, Maho_shojo.</li>
              <li>Que más puedo decir soy una soñadora en busca de su futuro.</li>
              <li>Féliz de haber llevado a cabo este proyecto, esperando sea de su gusto.</li>
            </ul>
        
            <div class="form-group text-center">
              <P>Saludos a todos, disfruten de la página <i class="far fa-laugh-wink fa-2x"></i></p>
              <h3 class="text-center" >Y que viva el manga yeahhh!!!</h3>
            </div>

            <img class="yeahh" src="https://i.skyrock.net/1907/80781907/pics/3142212994_1_2_EQ34wD3F.gif" width="300px" height="200px">
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" alt="500x500" src="images/foto-manga.jpg" data-holder-rendered="true" style="width: 500px; height: 500px;">
          </div>
        </div>
    </div>
</section>