<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


  </head>
  <body>
    <div class="card bgcolor text-white">
 <h1 class="card-title"><img src="http://pa1.narvii.com/5837/9e898f346d9a3a7fb6618e30bd39a599470abd3f_hq.gif" width="200px" height="100px"></h1>

  <img class="card-img" src="http://dereproject.com/wp-content/uploads/2016/01/oreimos2-13-21.jpg" width="1210px" height="550px" alt="Card image">
     <h3 class="card-text">Share your creativity!!!</h3>
   </div>
</div>
</div>

 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <nav class="navbar-bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
       
        <li><a id="home" href="/"><i class="fa fa-home"></i>   Home</a></li>
      <li><a id="marker" href="/meetpoints"><i class="fa fa-map-marker"></i>   Meet-Point</a></li>
      <li class="nav-item active">
         <a id="contact" href="/contact"><i class="fa fa-envelope"></i> Contact</a>
         </li>
     </ul>
          <img id="profile" src="https://i.pinimg.com/236x/80/70/72/8070721539807e74439e4f56594535cd.jpg" width="70px" height="50px">
          <button type="button" class="btn-login">Login</button> 
   
  </div>
</nav>

<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <img id="Ironhack" src="http://pcworld.com.mx/wp-content/uploads/2017/10/1-1.png" width="50px" height="50px">
                <p class="grey-text text-lighten-4"> Página Web-proyecto-2: Ironhack</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            </div>
          </div>
        </footer>



    {{{body}}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>
