<section class="my-3 py-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <div class="form-group">
              <h3 class="text-center">{{user.username}}</h3>
            </div>

            <div class="form-group">
              <img class="rounded-circle" src="/images/userspics/{{user.userimage}}" alt="{{user.username}}" width="140px" height="140px">
            </div>
            
            <h4 id="generoFav" class="card-title text-center">Editar</h4>
            
            <div class="form-group text-center">
              <label for="exampleInputPassword1">Change User Name</label>
              <input type="newUsername" name="newUsername" class="form-control text-center" id="exampleInputnewUsername" placeholder="new User name">
            </div>

            <div class="form-group text-center">
              <p><a href="#" class="btn btn-info btn-block">Enter</a></p>
            </div>

            <div class="form-group text-center">
              <label for="exampleInputPassword1">Change Password</label>
              <input type="new password" name="new password" class="form-control text-center" id="exampleInputNewPassword" placeholder="new Password">
            </div>

            <div class="form-group text-center">
              <p><a href="#" class="btn btn-info btn-block">Enter</a></p>
            </div>

            <div class="form-group text-center">
              <h4 class="text-center">Comic mangas</h4>
              <p>Subir tus fanmangas</p>
              <li class="click"><i class="far fa-hand-point-down fa-2x"></i></li>
            </div>

            <div class="form-group text-center">
              <p><a href="/mangas/createmanga" class="btn btn-info btn-block">Enter</a></p>
            </div>          
            </div>

            <h5 class="text-center">Acerca de nosotros</h5>

            <ul class="nosotros">
              <div class="form-group text-left">
                <li><span class="card-title5"><i class="fas fa-globe"></i>  MangaCode</span></li>
            </div>

            <div class="form-group text-left">
              <li><span class="card-title5"><i class="fab fa-internet-explorer"></i>  Sitio web de entretenimiento</span></li>
            </div>    
        </div>
      </div>

      <div class="col-sm-9">
        <div class="card">
          <div class="card-body">
            <div id="accordion">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      <i class="fab fa-readme"></i>   Mis fanMangas
                    </button>
                  </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    <div class="container">
                      <div class="row">
                        <div class="col-sm-3">
                          <img src="https://4.bp.blogspot.com/-ijafovaZgoI/WPWKM2NH8pI/AAAAAAAAb2U/uAtmHcEEkcEhjb53pYuiWYKn673vDlvoQCLcB/s320/DBAF_Cap_01%2BPag.00.jpg" height="200px">
                          <h5 class="text-center">Dragon Ball After the Future</h5>
                        </div>
                        <div class="col-sm-3">
                          <img src="http://media-fancomics.theotaku.com/789182-20110808115733.jpg" height="200px">
                          <h5 class="text-center">Question Café</h5>
                        </div>
                        <div class="col-sm-3">
                          <img src="/images/FMAFireStarter/fire-starter-portada.jpg" height="200px">
                          <h5 class="text-center">Fire Starter</h5>
                        </div>
                        <div class="col-sm-3">
                          <img src="/images/MEJM/MEJM1.jpg" height="200px">
                          <h5 class="text-center">Merry Jashin Mas</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>         
      </div>
  </div>
</div>
</section>
  


  
 
        

 
    

