<section class="my-3 py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Meetpoints</h1>
                <p style="font-size:5vh">
                    Join and share your talent with more people!
                </p>
            </div>
            <div class="col-md-12">
                <div id="map"></div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    {{#each meetpoints}}
                    <div class="col col-md-4">
                        <div class="col-md-12">
                            <h2>{{this.name}}</h2>
                        </div>
                        <div class="col-md-12">
                            <h3>{{this.description}}</h3>
                        </div>
                        <div class="col-md-12">
                            <h3>{{this.direction}}</h3>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBA197tFJG-webKqA50xYKRp01rKXkLNJw&libraries=places"></script>
<script>
    window.onload = () => {
        const ironhackMEX = {
        lat: 19.3977864,
        lng: -99.1714789
        };
    
        const map = new google.maps.Map(document.getElementById('map'), {
        zoom: 18,
        center: ironhackMEX
        });

        var decodedJson = decodeURIComponent("{{{meetpointJson}}}");
        var markers = JSON.parse(decodedJson);
        
        var centmark = new google.maps.Marker({
            position: ironhackMEX,
            map: map
        })

        function addMarker(marker){
            var mark = new google.maps.Marker({
                position: {
                    lat: marker.location.coordinates[1],
                    lng: marker.location.coordinates[0]
                },
                map: map
            })
        }

        for(i= 0; i< markers.length; i++){
            addMarker(markers[i]);
        } 
}

    
</script>