<section class="my-3 py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6 centmar">
        <h2>Create a new manga</h2>
        <form action="/mangas/createmanga" method="POST" id='uploadForm'  ref='uploadForm'  encType="multipart/form-data">
        <div class="input-group mb-3">
          <div class="custom-file">
            <input type="file" name="img_preview" class="custom-file-input" id="img_preview">
            <label class="custom-file-label" for="img_preview">Choose image</label>
          </div>
        </div>
        <div class="form-group">
          <label for="manganame">Manga name</label>
          <input type="text" name="manganame" class="form-control" id="manganame" placeholder="Manga name">
        </div>
        <div class="form-group">
          <label for="author">Author</label>
          <input type="text" name="author" class="form-control" id="author" placeholder="Author">
        </div>
        <div class="form-group">
          <label for="caps">Number of chapters</label>
          <input type="number" name="caps" class="form-control" id="caps" placeholder="Chapters">
        </div>
        <div class="form-group">
          <label for="caps">Genre</label>
          <div class="input-group mb-3">
            <select class="custom-select" name="genre" id="genre">
              <option selected>Choose...</option>
              <option value="gore">Gore</option>
              <option value="mecha">Mecha</option>
              <option value="ecchi">Ecchi</option>
              <option value="harem">Harem</option>
              <option value="spokon">Spokon</option>
              <option value="nekketsu">Nekketsu</option>
              <option value="gekiga">Gekiga</option>
              <option value="maho_shojo">Maho shojo</option>
              <option value="yuri">Yuri</option>
              <option value="yaoi">Yaoi</option>
              <option value="jidaimono">Jidaimono</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="traducedby">Traduced by</label>
          <input type="text" name="traducedby" class="form-control" id="traducedby" placeholder="Traduced by...">
        </div>
          {{#if message }}
            <div class="error-message">{{ message }}</div>
          {{/if}}
          <button type="submit" class="btn btn-info btn-block">Create</button>
        </form>
      </div>
    </div>
  </div>
</section>